@import "tailwindcss";
body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/images/fullpage-bg.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
   min-height: 100dvh;
}
